{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - Register or login
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="/register-fyp" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="details-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Create an account
              </h1>
            </legend>
            <p>
              Set up an account so that you can go straight to your pensions next time.
            </p>
            <p>
              You can also <a href="redirect-identity">use this service as a guest</a>.
            </p>


            {{ govukInput({
              label: {
                text: "First name"
              },
              id: "first-name",    
              classes: "govuk-input--width-20",
              name: "first-name",
              autocomplete: "name",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Last name"
              },
              id: "last-name",
              classes: "govuk-input--width-20",

              name: "last-name",
              autocomplete: "name",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Email address"
              },
              id: "email",
              name: "email",
              type: "email",
              classes: "govuk-input--width-30",
              autocomplete: "email",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Create a password"
              },
              id: "password",
              classes: "govuk-input--width-20",
              name: "password",
              spellcheck: false
            }) }}            

            {{ govukInput({
              label: {
                text: "Repeat password"
              },
              id: "password-repeat",
              classes: "govuk-input--width-20",
              name: "password-repeat",
              spellcheck: false
            }) }}
            <br>
            <a href="fyp-login" role="button" draggable="false" class="govuk-button pdp_button_consents">
              Save and continue
            </a>

            <h2 class="govuk-heading-m">
              Already have an account? 
            </h2>
            <p><a href="fyp-login">Sign in to your account</a>
            </p>             


          </fieldset>
        </div>
    </form>
  </div>
</div>
{% endblock %}
