{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceNameIdentity}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>find out who provides your pensions</li>
        <li>find contact information for your pension providers</li>      
        <li>view information about each of your pensions</li>
      </ul>
      <p>
        The first time you use this service you will need:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to verify your identity so we know you are who you say your are</li>
        <li>to give your consent for us to use your information to find your pensions</li>      
      </ul>
     <!--
      <p>
        We will ask you to set up an account so that we can store information about your pensions. This means that on later visits you will not need to enter your consents and information to view your pensions. You can choose to use this service as a guest if you do not want to set up an account.
      </p>
-->

      <a href="fyp-register" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue 
      </a>
    </div>
  </div>
{% endblock %}
