
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/consents-c-and-a" method="post" novalidate>

        {{ govukCheckboxes({
          idPrefix: "consents-store-search",
          name: "consents-store-search",
          fieldset: {
            legend: {
              text: "Do you consent to these statements about the [Manage your consents service]?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select the statements that you consent to. To use this service you must agree to these statements."
          },
          items: [
            {
              value: "pfs-find",
              text: "I consent to my personal information being passed to pension providers"
            },
            {
              value: "search",
              text: "I consent to the [Manage your consents service] storing information about my pensions"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <a href="consents-dashboards" role="button" draggable="false" class="govuk-button pdp_button_consents">
            Continue
          </a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
