
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/consents-dashboards" method="post" novalidate>


          {{ govukCheckboxes({
            idPrefix: "consents",
            name: "consents",
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "I consent to the Money and Pensions Service:",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "share-providers",
                text: "sharing my personal identity data with the UK’s pension providers (that’s about 36,000 pension schemes) in order to find my pensions"
              },
              {
                value: "tokens",
                text: "the service making markers/tokens/identifiers relating to my identity and my pensions to use within the service "
              },
              {
                value: "provider-check",
                text: "allowing my pension providers to check with us what information I want my chosen dashboard to see"
              },
              {
                value: "store-consents",
                text: "the service storing a record of my consents "
              }
            ]
          }) }}        

        <p>
          To use the service you must agree to all of the statements.
        </p>
        <a href="redirect-identity" role="button" draggable="false" class="govuk-button pdp_button_consents">
          Continue
        </a>
      </form>
    </div>
  </div>

{% endblock %}
