
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - Select which pensions to see
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-for-provider" method="post" novalidate>  

      <h1 class="govuk-heading-l">What is the name of the pension provider?
      <span class="govuk-hint">
       Search for a pension provider that you want to add to the list for us to ask if you have a pension with them.
      </span></h1>

      <div class="govuk-form-group {{errorFormClass}}" id="form-group">
        <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="provider-search-value">
            Enter the name of the pension provider to search for
          </label>
          <div id="event-name-hint" class="govuk-hint">
            For example, Aviva.
          </div>

        <span id="no-court-entered-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{errorString}}
        </span>
        </h2>
          <input class="govuk-input govuk-!-width-three-quarters {{errorInputClass}}" id="provider-search-value" name="provider-search-value" type="text" value="{{providerSearchValue}}">
          <button type="submit" class="govuk-button" onclick="checkError()">Search</button>

      </div>
    </form>

    {% if searchListNames.length > 0 %}

      <p class="govuk-body-m">
        We found {{searchListNames.length}} {{pensionProviderPlural}} matching your search for '{{providerSearchValue}}'.
      </p>    

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <form action="/add-provider-to-list" method="post" novalidate>  

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Select the pension provider to add to your list
              </h2>
            </legend>
            {% for details in searchListNames %}
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="provider" name="provider" type="checkbox" value="{{details}}">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  {{details}}
                </label>
              </div>
            </div>
            {% endfor %}
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Add to list
        </button>
      </form>
      <div id="display-list">
        <h2 class="govuk-heading-m">
          Your list of pension providers
        </h2>
        <span class="govuk-hint">
          These are the pension providers that we will ask to see if you have a pension with them.
        </span>
        {% for details in directedListNames %}
        <p>
          {{details}}
        </p>
        {% endfor %}



      {% else %}
        {%if not firstPageLoad %}
          <p class="govuk-heading-s">
            There are no matching results.
          </p>
          <p class="govuk-body">Improve your search results by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>double-checking your spelling</li>
            <li>using fewer keywords</li>
            <li>searching for something less specific</li>
          </ul>
        {% endif %}
      {% endif %}
  </div>
</div>


{% endblock %}