
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - Enter your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/enter-your-details" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="details-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Enter your details
              </h1>
            </legend>
            <div id="details-hint" class="govuk-hint">
              We will use your details to find your pensions         
            </div>
            <p>
              Your last name, National Insurance Number and date of birth have been given to us by the identity service so you do not need to enter them again.
              <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                  Last name
                </label>
                <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text" value="Last name" disabled>
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                  National Insurance number
                </label>
                <input class="govuk-input govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" value="AB123456C" disabled>
              </div>
              <div class="govuk-date-input" id="dob">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric" value="01" disabled></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric" value="APR" disabled></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric" value="1982" disabled></div>
                </div>
              </div>
              <br>

              <p>
              [Additional fields for matching will be added here]
              </p>          
          </fieldset>
        </div>

        <a href="find-options-start" role="button" draggable="false" class="govuk-button pdp_button_consents">
          Continue
        </a>

        </div>
      </form>

    </div>
  </div>

{% endblock %}