{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceNameConsents}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceNameConsents }} {% endif %}
      </h1>

      <p> 
        Before accessing the [dashboard] service, we need you to consent to the processing of your personal data within the service, so that we can find your pensions and you can view them on your dashboard.
      </p>
      <p>
        The service will use markers/tokens/identifiers, which are collections of digital information to represent you and your pensions. We need your consent to make these markers/tokens/identifiers and send them to the pension providers to find your pension(s).
      </p>
      <p>
        We will not use your personal information for any purpose other than finding your pensions and we will not share it with any other parties outside the service.
      </p>

      <a href="consents-all" role="button" draggable="false" class="govuk-button pdp_button_consents">
        Continue
      </a>
    </div>
  </div>
{% endblock %}
