{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceNameConsents}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Giving your consent
      </h1>

      <p> 
        We need to check that you are happy for us to use your personal information to find your pensions.
      </p>

      <p>
        We will only use your personal information to find your pensions and we will not share it with any other parties outside the service.
      </p>

      <a href="consents-all" role="button" draggable="false" class="govuk-button pdp-consents-button">
        Continue
      </a>
    </div>
  </div>
{% endblock %}
