
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/find-all-or-directed" method="post" class=novalidate>
      <h1 class="govuk-heading-l">
        Search pension providers
      </h1>

          <p> 
            To find your pensions, we can send the information you have given us to all 36,000 UK pension providers.
          </p>
          {{ govukRadios({
            idPrefix: "which-find",
            name: "which-find",
            fieldset: {
              legend: {
                text: "Which pension providers do you want to search?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [

              {
                value: "directed-find",
                text: "I want to reduce the number of pension providers you send my information to",
                hint: {
                  text: "To reduce the risk of your information being used illegally we'll only send your information to the pension providers you select. "
                }
              },
              {
                value: "find-all",
                text: "I want to search all pension providers",
                hint: {
                  text: "We'll send your information to all UK pension providers."
                }
              }
            ]
          }) }}

 
          <div class="govuk-inset-text">
            If you think that you have lost touch with a pension, you should search all pension providers.
          </div> 

          <br>

          {{ govukButton({
            text: "Continue",
            classes: "pdp-consents-button"
          }) }}

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Reducing the amount of pension providers we share your information with
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Although there is only a small risk that your personal information will be used illegally you may want to reduce the search range:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>to reduce the number of pension providers your information is shared with</li>
                <li>if you have a new pension and you know who the pension provider is</li>
                <li>if you know exactly where all your pensions are held</li>
              </ul>
            </div>
          </details>
        </div>
      </form>

    </div>
  </div>

{% endblock %}