{% extends "layout_unbranded_id.html" %}

{% block pageTitle %}
  {{serviceNameIdentity}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{{ govukBackLink({
			text: "Back",
			href: "select-id-document"
		}) }}
	</div>
	<div class="govuk-grid-column-one-half">
		
		<h1 class="govuk-heading-l">
			Capture your ID document (front)
		</h1>
		<p>
			Please make sure that the photo you take:
		</p>
		<div class="govuk-grid-row">

			<div class="govuk-grid-column-one-third">
				<p>
					Shows all details
				</p>
				<img src="/public/images/guideline-inframe.png" alt="Photo doesn't show all details">
			</div>
			<div class="govuk-grid-column-one-third">
				<p>
					Isn't covered by anything
				</p>
				<img src="/public/images/guideline-covered.png" alt="Photo is covered by a finger">
			</div>				
			<div class="govuk-grid-column-one-third">
				<p>
					Is clear and in focus
				</p>
				<img src="/public/images/guideline-blurry.png" alt="Photo is blurry">
			</div>
		</div>
		<p></p>
		<p>
			Or you can <a href="upload-photo">upload a photo of your document</a> from your device.
		</p>			
	</div>
	<div class="govuk-grid-column-one-half pdpid-grey-background">
		<h2 class="govuk-heading-m pdpid-center">{{IdType}} (front)</h2>
		<p class="pdpid-center">
			United Kingdom
		</p>
		<div class="pdpid-photo-box">
			<div class="pdpid-photo-inner-box">
				{% if IdType == "Driving licence"%}
					<img src="/public/images/driving-licence.jpeg" alt="Image of driving licence front">
				{% endif %}	
				{% if IdType == "Passport"%}
					<img src="/public/images/passport.jpeg" alt="Image of passport front">
				{% endif %}	
				{% if IdType == "Biomedical residence permit"%}
					<img src="/public/images/biomedical-residence-permit.jpeg" alt="Biomedical residence permit front">
				{% endif %}	
			</div>
		</div>
		<br>
		<a href="check-photo" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
	    	TAKE PHOTO 
	    </a>
	</div>
</div>
{% endblock %}