{% extends "layout_unbranded_id.html" %}

{% block pageTitle %}
  {{serviceNameIdentity}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Consent to us sharing your information
      </h2>


      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="consents" name="consents" type="checkbox" value="share-providers" aria-describedby="consents-item-hint">
          <label class="govuk-label govuk-checkboxes__label" for="consents">
            I consent to my last name, address and date of birth being sent to the Money and Pensions Service
          </label>
        </div>

      <p></p>
      <a href="steps-completed" role="button" draggable="false" class="govuk-button pdpid-button" data-module="govuk-button">
        CONTINUE 
      </a>      

    </div>
  </div>
{% endblock %}
